*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", simSum;
}
ul,li{
    list-style: none;
}
a{
    text-decoration:none ;
}
img{
    border: none;
    display: block;
}
.clearfix:before,.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.header{
    height: 30px;
    background: #f1f1f1;
}
.header .content{
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}
 ul{
    float: right;
    display: block;
}
 ul li{
    display: block;
    float: left;
    height: 31px;
    line-height: 31px;
    color: #dddddd;
}
 ul li a{
    color: #666;
    font-size: 14px;
}
 .first{
     margin-right: 15px;
 }
.line {
    margin-left: 10px;
 }
ul li a:hover{
    cursor: pointer;
}
 i{
    display: inline-block;
    background: url(../image/upload_ie.png) 0 185px;
    width: 18px;
    height: 18px;
    margin-left: 10px;
}
.Cart,.Shop,.sea{
    position: relative;
}
.Cart:hover p,.sea:hover ul,.Shop:hover ul{
    display: block;
    z-index: 2;
}
.sea ul li:hover,.Shop ul li:hover a{
    background: #dddddd;
 }
.shopCart{
    display: inline-block;
    background-position: 0 290px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 5px;
}
.search1,.search2{
    background-position:0 368px ;
    width: 8px;
    height:8px;
    margin-left: 4px;
}
.sea ul{
    width: 100px;
    height: 90px;
    background:#eee ;
    position: absolute;
    top: 30px;
    right: -30px;
    display: none;
}
.sea ul li a,.Shop ul li a{
    display: inline-block;
    color: #444;
    height: 22px;
    line-height: 22px;
    text-align: center;
}
.sea ul li a{
    width: 100px;
}
.Shop ul li a{
    width: 92px;
}
.shop{
    display: inline-block;
    background-position:0 145px ;
    width: 22px;
    height: 22px;
    vertical-align: middle;
}
.Cart p{
    position: absolute;
    top: 30px;
    right: -40px;
    width: 200px;
    height: 55px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px  0 #eee;
    background: #eee;
    color: #666;
    font-size: 12px;
    text-align: center;
    line-height: 55px;
    display: none;
}
.Shop ul{
    width: 92px;
    height: 120px;
    background:#eee ;
    position: absolute;
    top: 30px;
    right: 0;
    display: none;
}
.container{
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    height: 144px;
    position: relative;
}
.container h1{
    float: left;
}
h1 a{
    background: #fff url("../image/upload_207x51.png")no-repeat center center;
    display: block;
    width: 250px;
    height: 60px;
    margin-top: 37px;
    margin-right: 100px;
}
.searchL{
    position: relative;
    width: 500px;
    height: 33px;
    border: 1px solid #333;
    left: 350px;
    top: 35px;
}
.searchL [type=text]{
    outline:none;
    width: 348px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 80px;
    font-size: 12px;
    opacity: 0.4;
    border-style: none;
}
.searchL input[type=button]{
    width: 70px;
    height: 33px;
    text-align: center;
    margin: 0 auto;
    background: #000 url(../image/upload_ie.png)27px -57px;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top:0;
    border-style: none;
}
 .searchL .boxList{
    position: relative;
    top: -62px;
    left: 0;
    width: 502px;
    background:white;
     border: 1px solid #dddddd;
     display: none;
     border-top: none;
     z-index: 2;
}
.boxList li{
    height: 40px;
    line-height: 40px;
    display: block;
    font-size: 14px;
    padding-left: 30px;
    border-bottom: 1px solid lightgray;
}
.boxList li a{
    color: #000000;
    opacity: 0.6;
}
.searchL .boxList li:hover{
    background: #dddddd;
}

 .conS{
    display: block;
    height: 32px;
    width:70px ;
    line-height: 32px;
    padding-left: 12px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 4px 0 0 4px;
    position: absolute;
    top: 0;
    left: 0;
}
.conS:hover ul{
    display: block;
    z-index: 2;
    overflow: hidden;
    background:white;
}
.navM{
    width: 70px;
    height: 60px;
    position: absolute;
    top: 32px;
    left: -1px;
    border: 1px solid #eee;
    display: none;
}
.navM li{
    display: block;
    width: 70px;
    height: 33px;
    line-height: 30px;
    text-align: center;
}
.conS:hover ul li{
    display: block;
}
.conS .navM li:hover{
    background: #dddddd;
}
 .insT{
    background-position: 4px -22px;
    position: absolute;
    top:6px;
    left: 50px;
    width: 20px;
    height: 20px;
}
.conS a{
    color: #666;
}
.navPo{
    position: absolute;
    top: 35px;
    left: 0;
}
.navPo li{
    display: inline-block;
    float: left;
    height: 8px;
    margin-top: 0;
    margin-left: 15px;
}
.navPo .first1{
    margin-left: 0;
}
.navPo li a{
    color: #999;
    font-size: 12px;
}
.contaR{
    float: right;
    position: relative;
}
.contaR img{
    position: absolute;
    top: 20px;
    right: 63px;
    width: 83px;
    height:83px;
}
.contaR .img{
    display: block;
    background: url("../image/uploe_251x144.gif")no-repeat  #ffffff;
    height: 144px;
    width: 251px;
    float: right;
    position: absolute;
    top: -36px;
    right: 0;
    border-style: none;
}
.container .contB{
    position: absolute;
    left: 0;
    bottom: 0;
}
.container .contB li{
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 90px;
}
.container .contB li a{
    color: #333;
    font-size: 14px;
}
.container .contB li:hover a{
    border-bottom: 1px solid #333 ;
}
.container .contB .good{
    width: 225px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #f46;
    border-radius: 5px;
    margin-right: 10px;
}
.primary{
    width: 100%;
    border-top: 1px solid #f46;
}
.primaryNav{
    height: 20px;
    width: 1200px;
    margin: 0 auto;
    min-width: 1200px;
}
.primaryLisst{
    float: left;
    width: 223px;
    height: 548px;
    border:1px solid #f46 ;
    position: relative;
}
.primaryLisst .clother{
    height: 20px;
    line-height:20px;
    margin: 0 10px;
    width: 190px;
    display: inline-block;
    padding: 4px 0 16px 10px;
    float: left;
    border-bottom: 1px dashed #d8d8d8;
}
.clother:hover .navNav{
    display: block;
    box-shadow: 1px 1px 1px #d8d8d8 ;
}
.clother:hover {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    width: 214px;
    margin-left: -2px;
    z-index: 1;
}
.clother .uppet{
    float: left;
    display:inline-block;
}
.clother .uppet .clo{
    width: 40px;
    height: 30px;
}
.clother .uppet .clo a{
    color: #000000;
    font-size: 14px;
}
.clother .uppet li{
    margin-right: 0;
}
.clother .uppet li a{
    font-size: 12px;
    color: #666666;
}
.clother .uppet li:hover a{
    border-bottom: 1px solid #666666;
}
.clother .uppet .red a{
    color: #ff4466;
}
.clother .uppet .red:hover a{
    border-bottom: 1px solid #ff4466;
}
.clother .uppet .clo:hover a{
    border-bottom: 1px solid #000000;
}
.clother .uppet li .liner{
    margin: 0 6px;
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #d8d8d8;
}
.navNav{
    width: 248px;
    height: 547px;
    position: absolute;
    top: -1px;
    left: 222px;
    border: 1px solid #dddddd;
    padding: 0 24px 0 5px;
    display: none;
    background: white;
    z-index: 2;
}
.navNew{
    width: 247px;
    height: 102px;
    margin-bottom: 24px;
}
.navNew .new{
    margin: 5px 170px -5px 15px;
    display: inline-block;
}
.navNew .new a{
    font-size: 14px;
    color:#000000;
}
.navNew .new:hover a{
    border-bottom: 1px solid #000000 ;
}
.navNew li{
    margin: 0 0 -7px 15px;
}
.navNew li a{
    font-size: 12px;
    color: #666666;
}
.navNew li:hover a{
    border-bottom:1px solid  #666666 ;
}
.navNew .color a{
    color: #ff3366;
}
.navNew .color:hover a{
    border-bottom:1px solid  #ff3366 ;
}
.navNav .photo{
    width: 250px;
    height: 130px;
    padding-left: 10px;
    display:inline-block;
    margin: 20px -2px;
}
.primary_main{
    float: left;
    margin: 20px;
    position: relative;
}
.primaryCentre{
    position: relative;
    background: url("../image/default.gif")no-repeat center center #e1e1e1;
    width: 715px;
    height: 530px;
}
.primaryCentre div{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
.primaryCentre div img{
    width: 100%;
    height: 100%;
}
.primary_main ul{
    position: relative;
    border-bottom: 50px;
    right: 50px;
    z-index: 11;
}
.primary_main ul li{
    width:20px ;
    height: 20px;
    border-radius: 50%;
    float: left;
    background: url("../image/o61vu_201x53.png")no-repeat -98px -18px;
}
.primary_main a{
    width: 28px;
    height: 46px;
    position: absolute;
    top: 260px;
    z-index: 11;
    opacity: 0.3;
    display: none;
    background: url("../image/o61vu_201x53.png")no-repeat ;
}
.primary_main a:hover{
    opacity: 1;
    filter: alpha(opacity=100);
}
.primary_main .left{
    left: 0;
}
.primary_main a.right{
    right:0;
   background-position: -50px 0;
}
.primary_main ul{
    width: 132px;
    height:20px ;
    border-radius: 15px;
    position: absolute;
    bottom: 10px;
    left: 300px;
    background: white;
}
.primary_main ul li{
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 3px;
    background: url("../image/o61vu_201x53.png")no-repeat -98px -17px;
}
.primary_main ul .bg{
    background-position: -158px -17px;
}
.primaryRight{
    float: left;
    width: 218px;
    height: 530px;
    border: 1px solid #dddddd;
    margin-top: 18px;
}

.primaryRight a img {
    width: 180px;
    height: 220px;
    margin: 20px;
}
.primaryRight .top img{
    border-bottom: 1px dashed #dddddd;
    padding-bottom: 20px;
}
.wrapSpecial{
    margin-top: 60px;
    border-top: 1px solid #0c0c0c;
    height:300px ;
}
.wrapImage{
    width: 225px;
    height: 295px;
    overflow: hidden;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-bottom: 5px solid #f46;
    position: relative;
    float: left;
}
.timer-dD{
    width: 100px;
    height: 24px;
    background: url("../image/xs_95x24.png")no-repeat white;
    right: 118px;
    top: 24px;
    font-size: 20px;
    line-height: 24px;
    position: absolute;
    left: 0;

}
.timer-con{
    position: absolute;
    top: 24px;
    right:10px;
    width: 100px;
    height: 24px;
    line-height: 22px;
    font-size: 13px;
    float: left;
    background: red;
}
.timer-con .d,.timer-con .h,.timer-con .m,.timer-con .s{
    height: 24px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;

}
.wrapImage .clock{
    height: 50px;
    width: 225px;
    text-align: center;
    line-height: 50px;
}
.wrapImage .clock a img{
   width: 95px;
    height: 32px;
    display: inline-block;
    background: url("../image/xs_95x24.png")no-repeat white;
    border: none;
    margin-top: 15px;
}
.clock a i{
     width: 25px;
     height: 25px;
    line-height: 25px;
     background:#ff4466 ;
 }
.wrapImage a img{
    padding-top: 50px;
    width: 225px;
    height: 245px;
}
.price{
    width: 75px;
    height: 75px;
    background: url("../image/upload_i468x512.png") 0 -310px;
    font-size: 14px;
    color: white;
    position: absolute;
    right: 15px;
    bottom: 16px;
    text-align: center;
}
.middle{
    float: left;
    margin: 0 20px;
}
.middleFirst img{
    width: 336px;
    height: 300px;
}
.middleTwo img{
    width: 240px;
    height: 300px;
}
.Right{
    float: left;
    width: 145px;
}
.Right a img{
    width: 360px;
    height: 145px;
    margin-bottom: 10px;
}
.h_title{
    width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
}
.h_titleTitle{
    width: 1200px;
    height: 26px;
    margin-bottom: 20px;
}
.TitleL{
    width: 492px;
    height: 12px;
    background: url("../image/uploae_12x60.png");
}
.TitleC{
    overflow: hidden;
    height: 26px;
    width:180px;
    line-height: 26px;
    text-align: center;
    background: url("../image/wglp.png") no-repeat #fff;
}
.h_titleLeft{
    height: 500px;
}
.h_titleLeftTop{
    width: 225px;
    height: 500px;
    border: 1px solid #dddddd;
    background: #dddddd;
    float: left;
}
.h_titleLeftTop a{
    display: block;
    width: 176px;
    height: 176px;
    margin: 17px auto 7px;
}
.h_titleLeftTop a img{
    width: 170px;
    height: 170px;
}
.btm_txt_con{
    width: 225px;
    height: 107px;
    background: white;
}
.btm_txt_con li{
    float: left;
    margin: 8px -5px 0 8px;
    height: 20px;
    width: 70px;
}
.btm_txt_con li a{
    font-size:12px ;
    color: #333;
    height: 18px;
    line-height: 18px;
    padding: 0 4px;
}
.btm_txt_con li:hover a{
    width: 60px;
    height: 18px;
    border: 1px solid #dddddd;
}
.h_titlPrice{
    float: right;
}
.h_titlPrice a img{
    display: inline-block;
    float: left;
    margin-left: 18px;
}
.nptlRow{
    height: 150px;
    width: 955px;
    float: right;
}
.nptlRow .d{
    float: left;
    width: 305px;
    height: 150px;
}
 .fChild a img{
    width: 130px;
    height: 150px;
    float: left;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}
.t_btn,.t_btm{
    text-align: center;
    height: 14px;
    width: 155px;
    font-size: 14px;
    display: inline-block;
}
.t_btn{
    color: #333;
    padding-top: 50px;
}
.t_btm{
    color: #999999;
}
.h_titleTitle img{
    width: 168px;
    height: 25px;
    display: inline-block;
}
.nptl_col1{
    width: 225px;
    height: 498px;
    float: left;
    background-color: #fff;
    border: 1px solid #ddd;
}
.nptl_col1 a{
    height: 254px;
    width: 223px;
    cursor: pointer;
}
.nptl_col1 a img{
    overflow: hidden;
    border: 1px solid #ddd;
    height: 213px;
    width: 183px;
    margin: 20px 20px;
}
/*.nptl_col2{
    height: 120px;
    width: 123px;
}*/
.nptl_col2 a{
    float: left;
    display: inline-block;
    height: 60px;
    width: 112px;
    position: relative;
}
.nptl_col2 .lay{
    position: relative;
}
.lay .layout{
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 115px;
    background: black;
    display: none;
}
.lay:hover .layout{
    display: block;
    opacity: 0.1;
}
.nptl_col2 a.dd:hover .jj{
    display: block;
    opacity: 0.3;
}
.nptl_col2 a img{
    width: 100%;
    height:100%;
    margin: 0 -1px;
    text-align: center;
    float: left;
    border-bottom: none;
}
.nptl_col2 .LEFT img{
    border-right: none;
}
.nptl_col2 .LE img{
    height: 59px;
}
.nptl_col3{
    float: left;
    height: 500px;
    width: 950px;
}
.nptl_col3 img{
    height: 500px;
    width: 305px;
}
.nptlLeft{
    display: inline-block;
    width: 305px;
    height: 500px;
    margin-left: 20px;
    float: left;
}
.nptlRight{
    width: 625px;
    height: 500px;
    float: left;
    display: inline-block;
}
.nptlRight a{
    display: inline-block;
    float: left;
    margin: 0 0 -1px -1px;
    width: 207px;
    height: 248px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
}
.nptlRight a img{
    width: 175px;
    height: 170px;
    margin: 20px 20px;
}
.gd{
    font-size: 12px;
    color: #333;
}
.gd:hover{
    border-bottom: 1px solid  #333;
}
.foot{
    overflow: hidden;
    padding-bottom: 20px;
    font-size: 12px;
    margin-top: 90px;
    background: #fbfbfb url("../image/foot_24x160.png")repeat-x center top;
}
.foot_wrap{
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    padding: 30px 0 6px 1px;
}
.foot_info{
    overflow: hidden;
    float: left;
}
.info_logo{
    display: block;
    height: 38px;
    background: url("../image/foot1.png")no-repeat;
}
.info_text{
    overflow: hidden;
    margin-top: 2px;
    width: 246px;
}
.foot_info .info_text p{
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin-top: 5px;
    color: #999;
    font-size: 12px;
}
.info_text  a{
    color: #999;
    cursor: pointer;
}
.foot_link{
    display: inline-block;
    float: left;
    margin-left: -30px;
}
dl{
    float: left;
    margin-left: 121px;
    padding-bottom: 15px;
}
dt{
    padding-bottom: 3px;
    color: #333;
    font-weight: 700;
    line-height: 14px;
    font-size: 12px;
}
dd{
    margin-top: 8px;
}
dd a{
    font-size: 12px;
    color: #666666;
}
dd a:hover{
    border-bottom: 1px solid #666666;
}
.foot_link .safe{
    margin-left: 121px;
    padding-bottom: 15px;
}
.safe dd{
    overflow: hidden;
    height: 28px;
    line-height: 28px;
    margin-left: -12px;
}
.nn,.nm,.safely{
    float: left;
    height: 28px;
}
 .nn{
    width: 164px;
    background: url("../image/split.png") -240px -50px;
}
.nm{
    width: 84px;
    background: url("../image/split.png") -400px -50px;
}
.safely{
    width: 50px;
    background: url("../image/split.png") -480px -50px;
}
.footBottom{
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    background: #fbfbfb;
}
.footBottom ul{
    float: left;
}
ul .left{
    font-size: 12px;
    color: #4d4d4d;
}
.left a{
    color: #4d4d4d;
    font-size: 12px;
    margin: 10px 14px;
}
ul .left a:hover {
    color: #fd4368;
    border-bottom: 1px solid #fd4368;
}
.mgjRightbar{
    position: fixed;
    height: 100%;
    z-index: 11;
    top: 0;
    width: 30px;
    right: 0;
    color: #fff;
    font-size: 12px;
    background: #202020;
}
.mgCart,.sidebar{
    position: relative;
    padding: 4px 4px 0;
    text-align: center;
    width: 20px;
    height: 90px;
}
.mgCart{
    margin-top: 50px;
}
.mgCart:hover,.sidebar:hover{
    background: red;
}
.mgCart a i,.sidebar i{
    width: 30px;
    height: 30px;
    display: inline-block;
}
.mgCart i{
    background: url("../image/l1.png")-3px -8px;
    margin-left:0;
}
.mgCart p,.sidebar p{
    width: 22px;
    height: 45px;
    color: #fff;
    text-align: center;
    line-height: 14px;
    border-bottom: 1px solid rgba(221,221,221,.6);
    padding-bottom: 14px;
}
.sidebar{
    position: relative;
    padding: 4px 4px 0;
    text-align: center;
    width: 20px;
    height: 92px;
}
.sidebar i{
    margin-left: 0;
    background: url("../image/l1.png")-4px -30px;
}
.sidebar .money{
    margin-left: 4px;
    background: url("../image/l1.png")-8px -90px;
}
.sidebar .fo{
    margin-left: 0;
    background: url("../image/l1.png") -4px -60px;
}
.sideBottom{
    position: fixed;
    z-index: 16;
    bottom: 10px;
    width: 30px;
    height: 30px;
    right: 0;
    cursor: pointer;
    display: none;
}
.sidTot{
    padding: 4px 4px 0;
    text-align: center;
    background: #202020 ;
    border-top: 1px solid #999;
}
.sidTot .fo{
    width: 30px;
    height: 30px;
    margin-left: 3px;
    background: url("../image/l1.png") -6px -150px;
    line-height: 17px;
}
.search{
    width: 100%;
    height: 51px;
    position:fixed;
    z-index: 22;
    top: 0;
    background: #000;
    display: none;
}
.searchLogo{
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    height: 50px;
}
.searchLogo{
    width: 152px;
    height: 50px;
}
.middlelogo{
    float: left;
    width: 152px;
    height: 38px;
    margin-top: 6px;
    overflow: hidden;
    background: url("../image/l0.png")no-repeat;
}
.searchContent{
    width: 650px;
    height: 33px;
    float: left;
    background: black;
    display: inline-block;
    margin-left: 100px;
    border-radius: 5px;
    margin-top: 10px;

}
.searchContent .content{
    display: block;
    height: 32px;
    width: 70px;
    line-height: 32px;
    padding-left: 12px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 4px 0 0 4px;
    position: absolute;
    top: 10px;
    left: 327px;
}
.searchContent .content .seaT{
    background-position: 4px -22px;
    position: absolute;
    top: 6px;
    left: 50px;
    width: 20px;
    height: 20px;
}
.border{
    height: 32px;
    width: 498px;
    margin-left:82px;
    border: none;
    outline: none;
    background: white;
}
.searchContent .btan{
    height: 33px;
    width: 70px;
    float: right;
    border: none;
    text-align: center;
    margin: 0 auto;
    background: #f46 url(../image/upload_ie.png)27px -57px;
}